header {
	background: #4e4c4c;
	padding: 20px 0;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

footer {
	text-align: center;
	background: url("../imagens/bg.jpg");
	padding: 40px 0;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
	text-align: center;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

main{
	width: 940px;
	margin: 0 auto;
}

form{
	margin: 40px 0;
}

form label{
	display: block;
}

form input{
	display: block;
}

.imagembeneficios {
	width: 20%;
}

.titulo-centralizado{
	text-align: center;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.copyright {
	color: #f7f2f2;
	font-size: 13px;
	margin: 20px 0 0;
}

#banner {
	width:50%;
}

#missao{
	text-align: center;
	font-size: 34px;
}

.centro{
	text-align: center;
}
body{
	background-image: url(../imagens/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.conteiner{
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	
}

.nada{
	text-align: center;
}

a{
	padding: 10px;
}